<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.yovendosaldo">

    <!-- Se añade permisos para ingresar a Internet y a la Red -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permisos para interaccion con GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="com.android.yovendosaldo.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.android.yovendosaldo.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Instance ID Service -->
        <service
            android:name="com.globalpaysolutions.yovendosaldo.notifications.YvsInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- IntentService -->
        <service
            android:name="com.globalpaysolutions.yovendosaldo.notifications.RegistrationIntentService"
            android:exported="false">
        </service>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.globalpaysolutions.yovendosaldo"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.globalpaysolutions.yovendosaldo.notifications.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled"/>
            </intent-filter>
        </receiver>

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Activities -->
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.Configuracion"
            android:label="@string/title_activity_config"
            android:parentActivityName="com.globalpaysolutions.yovendosaldo.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.Perfil"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.globalpaysolutions.yovendosaldo.Configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.InfoGeneral"
            android:label="@string/title_activity_infor"
            android:parentActivityName="com.globalpaysolutions.yovendosaldo.Configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.ManejoPIN"
            android:label="@string/title_activity_infor"
            android:parentActivityName="com.globalpaysolutions.yovendosaldo.Configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.PIN"
            android:parentActivityName="com.globalpaysolutions.yovendosaldo.ManejoPIN"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendosaldo.Notificaciones"
            android:label="@string/title_activity_notificaciones"
            android:screenOrientation="portrait"
            android:parentActivityName="com.globalpaysolutions.yovendosaldo.Home"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.globalpaysolutions.yovendosaldo.Home"/>
        </activity>
    </application>

</manifest>